.App {
  text-align: center;
}

.App-logo img {
  position: absolute;
  top: 10%;
  right: 31%;
  pointer-events: none;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.App-header {
  background-color: #cef5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(23, 54, 40);
}

.App-link {
  color: #5151d9;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  14% {opacity: 1;}
  16.7% {opacity: 1;}
  23% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  14% {opacity: 1;}
  16.7% {opacity: 1;}
  23% {opacity: 0;}
  100% {opacity: 0;}
}

#f1 {
}
#f2 {
  -webkit-animation-delay: -1s;
}
#f3 {
  -webkit-animation-delay: -2s;
}
#f4 {
  -webkit-animation-delay: -4s;
}
#f5 {
  -webkit-animation-delay: -5s;
}
#f6 {
  -webkit-animation-delay: -6s;
}
